In [1]:
import pandas as pd
import numpy

In [2]:
template_style = 'plotly_white'

In [3]:
df = pd.read_excel('data/data.xlsx', engine='openpyxl')

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468
3,42,CA-2017-120999,2020-09-10,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,Illinois,60540,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564
4,44,CA-2017-139619,2020-09-19,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,Florida,32935,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         3312 non-null   int64
 1   Order ID       3312 non-null   object
 2   Order Date     3312 non-null   datetime64[ns]
 3   Ship Mode      3312 non-null   object
 4   Customer ID    3312 non-null   object
 5   Customer Name  3312 non-null   object
 6   Segment        3312 non-null   object
 7   Country        3312 non-null   object
 8   City           3312 non-null   object
 9   State          3312 non-null   object
 10  Postal Code    3312 non-null   int64
 11  Region         3312 non-null   object
 12  Product ID     3312 non-null   object
 13  Category       3312 non-null   object
 14  Sub-Category   3312 non-null   object
 15  Product Name   3312 non-null   object
 16  Sales          3312 non-null   float64
 17  Quantity       3312 non-null   int64
 18  Discount       3312 non-null   float64
 19  Profit         3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(13)
memory usage: 517.6+ KB

In [6]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000
mean,5087.107488,56186.515097,221.381418,3.766908,0.156467,28.212340
std,2817.482266,31980.375516,585.257531,2.221776,0.207429,241.864342
min,13.000000,1841.000000,0.444000,1.000000,0.000000,-3839.990400
25%,2655.750000,27978.750000,17.018000,2.000000,0.000000,1.763200
50%,5183.500000,60472.500000,53.810000,3.000000,0.200000,8.296800
75%,7498.250000,90032.000000,205.105700,5.000000,0.200000,28.315125
max,9994.000000,99301.000000,13999.960000,14.000000,0.800000,6719.980800

In [7]:
df['Postal Code'].unique()

array([28027, 19140, 77095, 60540, 32935, 49201, 77041, 60623, 29203,
       55901, 97206, 10009, 94122, 28205, 10035, 85023, 43229, 64055,
       77036,  7090, 19120, 44312, 75220, 37064, 90604, 48601, 33614,
       95051, 77506, 27514, 45231, 94110, 90301, 22204, 37130,  1852,
       31907, 78550,  2038, 89115,  2886, 10024, 98105, 92646, 40475,
       90045,  1841, 39212, 48187, 78207, 77070, 47201, 79109, 64118,
       90049, 59405, 48234, 33801, 90032, 60653, 32216, 92804, 90008,
       60610, 80219, 43123, 10011, 98115, 33180, 92691, 48307,  7060,
       75081, 62301, 75701, 27217, 44105, 32137, 10550, 43055, 78745,
       48183, 54302, 30318, 50315, 93534, 92105, 92704,  7109, 55044,
       41042, 38401, 44052,  8901, 94109, 21044, 10801, 48227, 13021,
       75043, 53209, 43615, 87401, 19143, 78664, 48205, 52601, 98502,
       61107, 92037, 78521, 28110, 92024, 55407, 28540, 90036, 19134,
       39503, 19013, 11561, 80027, 35630, 94533, 42071, 28403, 76106,
       85705, 90660, 20735, 60505, 75051, 92627, 44134,  2908, 90004,
       92683, 38301, 98661, 75019, 68104, 91767, 89031, 85281, 92677,
        2149, 75007, 19711, 94601, 98031, 75023, 46203, 43017, 74403,
       30076, 20016, 89015, 99207, 76248, 32127, 22901, 97477, 11572,
       33437, 13601, 70506, 65807,  7501, 74133, 91104, 40214, 79424,
       93727, 44107, 91761, 94513, 21215, 19805, 32174, 94086, 48911,
       77840, 32725, 95336, 44240, 76903, 93905, 95123, 46350,  5408,
       14609, 24153,  6457, 85345, 57103, 80525, 47905,  6824, 30080,
       29501, 87105, 92236, 45014, 98103, 23602, 33178, 60076, 42420,
       42104, 98226, 60098, 29483, 88220, 45503, 84604, 28806, 12180,
       35244, 33311, 33068, 72209, 88001, 76017, 28314, 77340, 32839,
       33710, 55122, 55124, 85301, 92054, 23320, 90805, 83642, 92307,
       55369, 95695, 77489, 77581, 94403, 66212, 43130, 98006, 75217,
       36830, 48127, 56301, 75150, 68025, 46226,  2169, 85204, 10701,
       38109, 27405, 72701, 71854, 78539, 93309, 33030, 76021, 33023,
       62521, 22304, 80013, 78501, 50322, 49505, 61032, 56560, 84107,
       37211, 97756, 95610, 32303, 23223, 33012, 98052, 95207, 58103,
       46514, 30328,  7050, 44060, 73505, 13440, 43302, 73120,  6040,
       94526,  8861, 17602, 33024, 61832, 92025, 67212,  6360, 60302,
       37604, 77573, 35810, 35401, 27604, 80538, 85224, 59601, 76706,
        2895, 48066, 91730, 55113, 37918, 68801, 85254, 60068, 48237,
       72756, 88101,  6708, 33458, 98026, 80134, 33142, 93101, 75104,
        3301, 84020, 36116, 71203, 91941, 48126,  6450,  7960, 84106,
       53711,  6460, 92630, 94521, 72401,  2920, 22153, 38671,  2740,
       90712, 23464, 37087, 60016, 98632, 37075, 50701, 60067, 78415,
       98059, 33021, 83201, 80022, 85234,  8360, 53132, 70601,  3060,
       47374,  8701, 98208, 61604, 91360, 90503, 29406, 79907, 92503,
       79605, 97301, 63301, 93010, 85364, 97123, 99301, 95351, 61701,
       37421, 97224, 60440, 13501, 27834, 95661, 23434, 84057, 14215,
       78577, 39401, 44221, 80229, 26003, 95928, 63116,  2138, 67846,
       79762, 92345, 34741,  6810, 52302, 37042, 17403, 75034, 35601,
       32771, 34952, 11550, 80634, 93030, 53142, 76063, 44035, 19601,
       95823, 27707, 28601, 22801, 20707, 77803, 71603, 57401, 21740,
       40324, 33065, 45373,  7017, 54703, 46142, 77705, 60090, 43402,
       94568, 83704, 72762, 95240, 30605])